<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2> 
            <svg class="icon icon--primary collapsible__chevron">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg> 
    </header>
    <div class="collapsible__content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, velit.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, velit.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, velit.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, velit.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, velit.</p>
    </div> 
  </div>
  <script src="js/main.js"></script>