<section class="block container block-plans">
    <div class="grid grid--cols-3">
      <div>
        <div class="card card--secondary">
          
            <div class="headd">
              <header class="card__header">
                <img src="images/popular.svg " alt="" class="imgg">
                <p class="hed">Entry</p></header>
              <p class="h">$24</p><p>/month</p>
              <div class="cardd"><p class="hth">20% off</p></div>
              <p class="hh" >Optimal Cloud Exeperience</p>
            </div>
          <div class="card__body">
          <ul class="card__list">
            <li class="lis">Unlimited Websites</li>
            <li class="lis">Unlimited Bandwidth</li>
            <li class="lis">100GB SSD Storage</li>
            <li class="lis">3GB RAM</li>
            <li class="lis">2 CPU Cores</li>
          </ul>
          </div>
          <div class="card-foot">
            <footer class="card__foot">
              <button class="butt">Buy Now</button>
            </footer>
          </div>
        </div>
      </div>
      <div>
        <div class="card card--primary">
          
            <div class="headd">
              <header class="card__header">
                <img src="images/popular.svg " alt="" class="imgg">
                <p class="hed">Entry</p></header>
              <p class="h">$24</p><p>/month</p>
              <div class="cardd"><p class="hth">20% off</p></div>
              <p class="hh" >Optimal Cloud Exeperience</p>
            </div>
          <div class="card__body">
          <ul class="card__list">
            <li class="lis">Unlimited Websites</li>
            <li class="lis">Unlimited Bandwidth</li>
            <li class="lis">100GB SSD Storage</li>
            <li class="lis">3GB RAM</li>
            <li class="lis">2 CPU Cores</li>
          </ul>
          </div>
          <div class="card-foot">
            <footer class="card__foot">
              <button class="butt">Buy Now</button>
            </footer>
          </div>
        </div>
      </div>
      <div>
        <div class="card card--secondary">
          
            <div class="headd">
              <header class="card__header">
                <img src="images/popular.svg " alt="" class="imgg">
                <p class="hed">Entry</p></header>
              <p class="h">$24</p><p>/month</p>
              <div class="cardd"><p class="hth">20% off</p></div>
              <p class="hh" >Optimal Cloud Exeperience</p>
            </div>
          <div class="card__body">
          <ul class="card__list">
            <li class="lis">Unlimited Websites</li>
            <li class="lis">Unlimited Bandwidth</li>
            <li class="lis">100GB SSD Storage</li>
            <li class="lis">3GB RAM</li>
            <li class="lis">2 CPU Cores</li>
          </ul>
          </div>
          <div class="card-foot">
            <footer class="card__foot">
              <button class="butt">Buy Now</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/main.js"></script>