/*Navigation*/
.nav{
    width: auto;
    height: 5rem;
    background: black;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    align-items: center;
}
.nav--para{
    text-transform: uppercase;
    padding-left: 0.rem;
}
.image{
    padding-left:1rem ;
}
.img{
    width: 1.5rem;
    height: 2rem;
    border-radius: 20px;
}