
/* Navigation */
.nav{
    width: auto;
    height: 5rem;
    background:black;
    display: flex;
    flex-direction: row;
    color:red;
    justify-content: center;
    align-items: center;
}
.nav--para{
    text-transform: uppercase;
    padding-left: 0.2rem;
}
.image{
    width: 10rem;
    padding-left:1rem ;
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 1.5rem;
    height: 2rem;
    border-radius: 20px;
}
/* Intro */
.intro{
    background: black;
    height: 7rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.icon{
    width: 2rem;
    height: 2rem;
    padding:2rem 2rem;
    fill: yellow;
}
.icon:hover{
    fill: yellowgreen;
}

.intro--icons .user{
    color: yellow;
}
.user:hover{
    color: yellowgreen;
}
.user .icon{
    margin-left: 1rem;
}
 .intro--header .header{
   
    text-transform: uppercase;
}
/* Collapsible */
.collapsible{
    border-bottom: 2px solid greenyellow;
}
.collapsible--expanded{
    position: relative;
}
.collapsible__content{
    background: black;
    max-height: 0;
    
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(15deg);
}
.collapsible--expanded .collapsible__content{
    
    max-height: 35vh;
    max-width: 100rem;
    opacity: 1;
    overflow: scroll;
    overflow-x: hidden;
    
}
.list{
    list-style: none;
    padding-left: 0;
    display:block;
}

.link{
    display: block;
    color: white;
    margin-top: 6px;
    height: 2rem;
    width: auto;
    margin-left: -2.2rem;
    border-bottom: 2px solid yellowgreen ;

}
/* Redirect */
.redirect{
    background: yellow;
    height: 5rem;
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: center;  
}
.redirect--para{
    width: 10rem;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.main-image{
    width: 94rem;
    height: 50rem;
    background: url(images/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0 0);
    color:rgb(153, 26, 24);
}
.bg-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 94rem;
}
