<footer>
    <div>
        <h2 style="text-align: center; color: red;">More About Your Boyhood Club</h2>
        <div class="foot">
            <div class="foot-one">
                <img src="images/21.jpg" alt="" class="f-one">
            </div>
            <div class="foot-two">
                <p>lorem lorem</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Cum iste necessitatibus odio quos nostrum obcaecati
                     tempora alias vel, ducimus recusandae!</p>
            </div>
            <div class="foot-three">
               <img src="images/22.jpg" alt="" class="f-two">
            </div>
            <div class="foot-four">
                <p>lorem lorem</p>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Cum iste necessitatibus odio quos nostrum obcaecati
                     tempora alias vel, ducimus recusandae!</p>
            </div>
            <div class="foot-five">
                <img src="images/21.jpg" alt="" class="f-one">
            </div>
            <div class="foot-six">
                <p>lorem lorem</p>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Cum iste necessitatibus odio quos nostrum obcaecati
                     tempora alias vel, ducimus recusandae!</p>
            </div>
        </div>
    </div>
     </footer>