<section>
    <div class="subscribe-container">
        <div class="subscribe__one">
            <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quidem voluptatibus repellendus, repudiandae praesentium
                error alias eius nobis aliquam assumenda,
                 dolorem velit blanditiis ad?</p>
            <button  class="sub--button">Become Man United Member</button>
            <div class="sub-span">
                <p style="display: inline-block;">Already a Member?</p><button style="display: inline-block;">Sign in</button>
            </div>
        </div>
        <div class="subscribe__two">
            <p class="sub-para">Connect With Manchester United</p>
                        <div class="sub-image">
                            <img class="img" src="images/1-01.png" alt="" class="s--one">
                            <img class="img" src="images/1-02.png" alt="" class="s--two">
                            <img class="img" src="images/1-03.png" alt="" class="s--three">
                            <img class="img" src="images/1-04.png" alt="" class="s--four">
                            <img class="img" src="images/1-03.png" alt="" class="s--five">
                            <img class="img" src="images/1-04.png" alt="" class="s--six">
                            <img class="img" src="images/1-03.png" alt="" class="s--seven">
                            <img class="img" src="images/1-04.png" alt="" class="s--eight">
                        </div>
        </div>
    </div>
     </section>