<section>
    <div>
        <h2 style="text-align: center; color: red;">Share Your Club Love</h2>
        <div class="share">
            <div class="share-one">
                <img src="images/21.jpg" alt="" class="s-one">
            </div>
            <div class="share--two">
                <p>FaceBook </p>
               <img src="images/1-01.png" alt="" class="s-two">
               <p>our daily feed</p>
            <button class="share__button">Like</button>
            </div>
            <div class="share-three">
        
               <img src="images/22.jpg" alt="" class="s-three">
        
            </div>
            <div class="share-four">
                <p>YouTube</p>
               <img src="images/1-04.png" alt="" class="s-four">
               <p>See everything hear everything</p>
               <button class="share__button">Subscribe</button>
            </div>
        </div>
    </div>
     </section>