<header>
    <nav class="nav">
        <p>Connet With <p class="nav--para">Manchester United</p></p>
            <div class="image">
                <img class="img" src="images/1-01.png" alt="">
                <img class="img" src="images/1-02.png" alt="">
                <img class="img" src="images/1-03.png" alt="">
                <img class="img" src="images/1-04.png" alt="">
                <img class="img" src="images/1-05.png" alt="">
            </div>
    </nav>
</header>
<section class="collapsible collapsible--expanded">
    <div class="intro">
            <svg class="icon collapsible-chevron">
            <use xlink:href="images/sprite.svg#menu"></use></svg>
            <div class="intro--header">
                <h1 class="header">Manchester United</h1>
            </div>
            <div class="intro intro--icons"> 
                <svg class="icon">
             <use xlink:href="images/sprite.svg#search"></use></svg>
             <span class="user"><i class="fas fa-user fa-2x"></i></span>
             <span class="user icon"><i class="fas fa-play fa-2x"></i></span>
            </div>
    </div> 
    <div class="collapsible__content">
        <ul class="ul">
          <li class="list">
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
            <a href="#" class="link">Website Hosting</a>
            <a href="#" class="link">Free Automated Wordpress</a>
            <a href="#" class="link">Migrations</a>
           
          </li>
        </ul>

      </div>  
</section>
<section>
    <div class="redirect">
        <div><p class="redirect--para">Sir Boby Charlton</p></div>
        <div><p class="redirect--para">George Best</p></div>
        <div><p class="redirect--para">Denis Law</p></div>
    </div>
</section>
<section>
   <div class="main-image">
    <div class="bg-head">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, unde?</p>
    </div>
   </div>
</section>

