p{
    margin: 0;
}
/* Navigation */
.nav{
    width: auto;
    height: 5rem;
    background:black;
    display: flex;
    flex-direction: row;
    color:red;
    justify-content: center;
    align-items: center;
}
.nav--para{
    text-transform: uppercase;
    padding-left: 0.2rem;
}
.image{
    width: 10rem;
    padding-left:1rem ;
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 1.5rem;
    height: 2rem;
    border-radius: 20px;
}
/* Intro */
.intro{
    background: black;
    height: 7rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.icon{
    width: 2rem;
    height: 2rem;
    padding:2rem 2rem;
    fill: yellow;
}
.icon:hover{
    fill: yellowgreen;
}

.intro--icons .user{
    color: yellow;
}
.user:hover{
    color: yellowgreen;
}
.user .icon{
    margin-left: 1rem;
}
 .intro--header .header{
   
    text-transform: uppercase;
}
/* Collapsible */
.collapsible{
    border-bottom: 2px solid greenyellow;
}
.collapsible--expanded{
    position: relative;
}
.collapsible__content{
    background: black;
    max-height: 0;
    
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(15deg);
}
.collapsible--expanded .collapsible__content{
    
    max-height: 35vh;
    max-width: 100rem;
    opacity: 1;
    overflow: scroll;
    overflow-x: hidden;
    
}
.list{
    list-style: none;
    padding-left: 0;
    display:block;
}

.link{
    display: block;
    color: white;
    margin-top: 6px;
    height: 2rem;
    width: auto;
    margin-left: -2.2rem;
    border-bottom: 2px solid yellowgreen ;

}
/* Redirect */
.redirect{
    background: yellow;
    height: 5rem;
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: center;  
}
.redirect--para{
    width: 10rem;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.mainn{
    height: 62rem;
    border-bottom: 2px solid yellow;
}
.main-image{
    width: 94rem;
    height: 60rem;
    background: url(images/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0 0);
    color:rgb(153, 26, 24);
}
.bg-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 50rem;
}
/* Grid */

.gallery{
    width: 96rem;
    height: 14rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.gallery-one{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
    
}
.one{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-one:hover{
    transform: scale(1.1);
}
.gallery-two{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-two:hover{
    transform: scale(1.1);
}
.two{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-three{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-three:hover{
    transform: scale(1.1);
}
.three{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-four{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-four:hover{
    transform: scale(1.1);
}
.four{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-five{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-five:hover{
    transform: scale(1.1);
}
.five{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-six{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-six:hover{
    transform: scale(1.1);
}
.six{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-vid{
    width: 96rem;
    height: 14rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.gallery-vid1{
    height: 10rem;
    width: 14rem; 
}
.video1{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-vid2{
    height: 10rem;
    width: 14rem;
 
}
.video2{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-vid3{
    height: 10rem;
    width: 14rem;  
}
.video3{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
/* Gallery Container */
.gallery-container{
    width: 96rem;
    height: 20rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.gallery__one{
    height: 15rem;
    width: 48rem;
    border-right: 2px solid yellow;
    transition: filter 2s;
    
    transition: transform  2s;
  
}

.gallery__one:hover{
    filter: grayscale(1);
    transform: scale(1.1);    
}
.g-one{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}

.gallery__two{
    height: 15rem;
    width: 48rem;
    transform: filter 2s;
    transition: transform 2s;
}
.gallery__two:hover{
    filter:grayscale(1);
    transform: scale(1.1);    
}

.g-two{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
/* Share Container */
.share{
    width: 96rem;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.share-one{
    height: 15rem;
    width: 24rem;
   
    transition: filter 2s;
    
    transition: transform  2s;
}
.s-one{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
.share-two{
    height: 15rem;
    width: 24rem;
    align-items: center;
    justify-items: center;
}
.s-two{
   
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}
.share-three{
    height: 15rem;
    width: 24rem;
   
    transition: filter 2s;
    
    transition: transform  2s;
}
.s-three{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
.share-four{
    margin-top:4.5rem;
    height: 15rem;
    width: 24rem;
}
.s-four{
    
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}
.share__button:hover{
    background: black;
    color: red;
}
/* Subscribe Container */
.subscribe-container{
    width: 96rem;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.subscribe__one{
    height: 15rem;
    width: 48rem;
    border-right: 2px solid yellow;
    transition: filter 2s;
    transition: transform  2s;
}
.sub--button{
    display: block;
    margin-top: 2rem;
     height: 2rem;
     margin-left: 15rem;
     width: 19rem;
}
.sub-span{
    margin-top:1rem;
}
.subscribe__two{
    height: 15rem;
    width: 48rem;
    border-right: 2px solid yellow;
}
.sub-image{
    height: 15rem;
    width: 48rem;
    transition: filter 2s;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  
}

.s--one{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--two{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--three{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--four{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--five{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--six{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--seven{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--eight{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
