body{
    background: black;
    color: white;

}
p{
    margin: 0;
}
/* Navigation */
.nav{
    width: auto;
    height: 5rem;
    background:black;
    display: flex;
    flex-direction: row;
    color:red;
    justify-content: center;
    align-items: center;
}
.nav--para{
    text-transform: uppercase;
    padding-left: 0.2rem;
}
.image{
    width: 10rem;
    padding-left:1rem ;
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 1.5rem;
    height: 2rem;
    border-radius: 20px;
}
/* Intro */
.intro{
    
    background: black;
    height: 7rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.icon{
    width: 2rem;
    height: 2rem;
    padding:2rem 2rem;
    fill: yellow;
}
.icon:hover{
    fill: yellowgreen;
}

.intro--icons .user{
    color: yellow;
}
.user:hover{
    color: yellowgreen;
}
.user .icon{
    margin-left: 1rem;
}
 .intro--header .header{
   
    text-transform: uppercase;
}
/* Collapsible */
.collapsible{
    width: 100%;
    border-bottom: 2px solid greenyellow;
}
.collapsible--expanded{
    position: relative;
}
.collapsible__content{
    background: black;
    max-height: 0;
    
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(15deg);
}
.collapsible--expanded .collapsible__content{
    
    max-height: 35vh;
    max-width: 100%;
    opacity: 1;
    overflow: scroll;
    overflow-x: hidden;
    
}
.list{
    list-style: none;
    padding-left: 0;
    display:block;
}

.link{
    display: block;
    color: white;
    margin-top: 6px;
    height: 2rem;
    width: auto;
    border-bottom: 2px solid yellowgreen ;

}
/* Redirect */
.redirect{
    width: 100%;
    background: yellow;
    height: 5rem;
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: center;  
    margin-top: 1rem;
}
.redirect--para{
    
    width: 10rem;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
@media screen and (max-width:520px){
    
    .redirect--para{
        width: 5rem;
        color: red;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1rem;
    }
    .redirect{
    
        display: flex;
        flex-direction:row;
        align-items: center; 
        justify-content: space-around;  
    }

}
.mainn{
    height: 62rem;
    border-bottom: 2px solid yellow;
}
.main-image{
    width: 100%;
    height: 60rem;
    background: url(images/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(153, 26, 24);
}

/* Background */
.bg-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 50rem;
}
/* Grid */

.gallery{
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
@media screen and (max-width:520px) {
    .gallery{
        height:64rem ;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem;
        row-gap: o.5rem;
        text-align: center;
        
        border-bottom: 2px solid yellow;
        cursor: pointer;
    }
    .gallery-one{
        margin-left: 8rem;
    }
    .gallery-two{
        margin-left: 8rem;
    }
    .gallery-three{
        margin-left: 8rem;
    }
    .gallery-four{
        margin-left: 8rem;
    }
    .gallery-five{
        margin-left: 8rem;
    }
    .gallery-six{
        margin-left: 8rem;
    }
   
}
.gallery-one{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.one{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-one:hover{
    transform: scale(1.1);
}
.gallery-two{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-two:hover{
    transform: scale(1.1);
}
.two{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-three{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-three:hover{
    transform: scale(1.1);
}
.three{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-four{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-four:hover{
    transform: scale(1.1);
}
.four{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-five{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-five:hover{
    transform: scale(1.1);
}
.five{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
.gallery-six{
    height: 10rem;
    width: 14rem;
    transition: transform 2s;
}
.gallery-six:hover{
    transform: scale(1.1);
}
.six{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
}
/* Gallery Video */
.gallery-vid{
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: o.2rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}


.gallery-vid1{
    height: 10rem;
    width: 14rem; 
}
.video1{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
    margin-top: -1rem;
}
.gallery-vid2{
    height: 10rem;
    width: 14rem;
 
}
.video2{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
    margin-top: -1rem;
}
.gallery-vid3{
    height: 10rem;
    width: 14rem;  
}
.video3{
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
    margin-top: -1rem;
}
@media screen  and (max-width:520px){

    .gallery-vid1{
        width: 7rem; 
       
    }
    .video1{
        width: 7rem;
        margin-bottom: -1rem;
        margin-top: -3rem;
        
     
    }
    .gallery-vid2{
        width: 7rem;
    }
    .video2{
        width: 7rem;
        margin-bottom: -1rem;
    
        margin-top: -3rem;
        
    }
    .gallery-vid3{
        width: 7rem;  
    }
    .video3{
        width: 7rem;
        margin-bottom: -1rem;
        margin-top: -3rem;
        
    }
}
/* Gallery Container */
.gallery-container{
    width: 100%;
    height: 20rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
    margin-top: 2rem;
}

.gallery__one{
    height: 15rem;
    width: 50rem;
    border-right: 2px solid yellow;
    transition: filter 2s;
    
    transition: transform  2s;
  
}

.gallery__one:hover{
    filter: grayscale(1);
    transform: scale(1.1);    
}
.g-one{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}

.gallery__two{
    height: 15rem;
    width: 50%;
    transform: filter 2s;
    transition: transform 2s;
}
.gallery__two:hover{
    filter:grayscale(1);
    transform: scale(1.1);    
}

.g-two{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
@media screen and (max-width:520px) {
    .gallery-container{
        margin-top: 2rem;
        width: 36%;
        height: 15rem;
    }
    .gallery__one{
        height: 13rem;
        width:16rem;
    }
    .g-one{
        height: 10rem;
        width: 9rem;
    }
    
    .gallery__two{
        height: 13rem;
        width:16rem;
    }
    .g-two{
        height: 10rem;
        width: 9rem;
    }
}
/* Share Container */
.share{
    width: 100%;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.share-one{
    height: 15rem;
    width: 24rem;
   
    transition: filter 2s;
    
    transition: transform  2s;
}
.s-one{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
.share-two{
    height: 15rem;
    width: 24rem;
    align-items: center;
    justify-items: center;
}
.s-two{
   
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}
.share-three{
    height: 15rem;
    width: 24rem;
   
    transition: filter 2s;
    
    transition: transform  2s;
}
.s-three{
    height: 15rem;
    width: 18rem;
    border-radius: 20px;
}
.share-four{
    margin-top:4.5rem;
    height: 15rem;
    width: 24rem;
}
.s-four{
    
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}
.share__button:hover{
    background: black;
    color: red;
}
@media screen and (max-width:520px) {
    .share-one{
    height: 7rem;
    width: 9rem;
}
.s-one{
    height: 7rem;
    width: 7rem;
    border-radius: 20px;
}
.share-two{
    height: 7rem;
    width: 7rem;
    align-items: center;
    justify-items: center;
}
.s-two{

    height: 5rem;
    width: 3rem;
}
.share-three{
    height: 7rem;
    width: 9rem;
}
.s-three{
    height: 7rem;
    width: 7rem;
}
.share-four{
    margin-top:-4.5rem;
    margin-left: -1rem;
    height: 7rem;
    width: 9rem;
}
.s-four{
    
    height: 5rem;
    width: 3rem;
}
    
}
/* Subscribe Container */
.subscribe-container{
    width: 100%;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.subscribe__one{
    height: 15rem;
    width: 48rem;
    border-right: 2px solid yellow;
    transition: filter 2s;
    transition: transform  2s;
}
.sub--button{
    display: block;
    margin-top: 2rem;
     height: 2rem;
     margin-left: 15rem;
     width: 19rem;
}
.sub-span{
    margin-top:1rem;
}
.subscribe__two{
    height: 15rem;
    width: 48rem;
    
}
.sub-image{
    height: 15rem;
    width: 48rem;
    transition: filter 2s;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  
}

.s--one{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--two{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--three{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--four{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.s--five{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--six{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--seven{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}

.s--eight{
    height: 5rem;
    width:5rem;
    border-radius: 20px;
}
.subscribe-para{
    display: inline-block;
    text-align: center;
}
@media screen and (max-width:520px){
    .subscribe-container{
        height: 32rem;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 0;
       
    }
 
    .sub--button{
         height: 2rem;
         margin-left: 30rem;
         width: 19rem;
    }
    .subscribe__one{
        height: 15rem;
        width: 50rem;
        border-right:0;
    }
    .subscribe-para{
        display: inline-block;
        text-align: justify;
        margin-left: 30rem;
    }
    .subscribe__two{
        height: 15rem;
        width: 48rem;
        margin-top: -6rem;
    }
}
/*Footer*/
.foot{
    width: 100%;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    column-gap: o.2rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    cursor: pointer;
}
.foot p{
    padding: 0.4rem;
}
.foot-one{
    height: 15rem;
    width: 16rem;
}
.foot-two{
    height: 15rem;
    width: 16rem;
    text-align: left;
}
.foot-three{
    height: 15rem;
    width: 16rem;
}
.foot-four{
    height: 15rem;
    width: 16rem;
    text-align: left;
}
.foot-five{
    height: 15rem;
    width: 16rem;
}
.foot-six{
    height: 15rem;
    width: 16rem;
    text-align: left;
}
.f-one{
    height: 10rem;
    width: 10rem;
    border-radius: 2px;
}
.f-two{
    height: 10rem;
    width: 10rem;
    border-radius: 2px;
}
@media screen and (max-width:520px) {
    .foot{
      
        height: 40rem;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: o.2rem;
        text-align: center;
        border-bottom: 2px solid yellow;
        cursor: pointer;
    }
    .foot-two{
    height: 15rem;
    width: 10rem;
    text-align: left;
}
    .foot-four{
    height: 15rem;
    width: 10rem;
    text-align: left;
}
    .foot-six{
    height: 15rem;
    width: 10rem;
    margin-top: -3rem;
}
}
/* Footer for real */
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer p{
    padding: 0 1rem;
}
.footer p:hover{
    color: gray;
    cursor: pointer;
}
@media screen and (max-width:520px) {
    .footer-para{
        font-size: 0.5rem;
    }
}

